/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* CSS Reset */
html, section, article, label, h1, h2, p, strong, em, a, li{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #383838;
}

/* STYLING FOR LOG IN/SIGN UP */
.auth-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/dfrrpfeus/image/upload/q_100/v1478209348/background-image_zfxi3z.jpg');
  background-size: cover;
}

.auth-form-container {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.85);
  max-width: 475px;
  margin: auto;
  margin-top: 15%;
  padding: 50px 65px 65px 65px;
  text-align: center;
  border-radius: 5px;
}

.auth-label-1 {
  font-size: 45px;
  font-weight: lighter;
  margin: 0;
}

.auth-label-2 {
  font-size: 45px;
  margin: 0;
  font-weight: bold;
}

.auth-input {
  outline: 0;
  background: #f2f2f2;
  background: white;
  width: 80%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-top: 10px;
}

.auth-button {
  outline: 0;
  width: 80%;
  padding: 10px;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  color: #383838;
  background-color: white;
}

.auth-button:hover {
  cursor: pointer;
  background-color: #3e3e3e;
  transition: 0.3s;
  color: white;
}

.auth-other {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
}

.auth-link {
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

.auth-error {
  font-size: 14px;
  font-weight: 500;

}

.auth-inputs-container {
  margin: 0
}

/* STYLING FOR HEADER/NAVBAR */
.navbar-item {
  padding: 16px;
  flex: right;
}

.navbar-logo {
  margin-right: auto;
  font-size: 26px;
  padding: 16px 24px;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-links {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #383838;
}

.navbar-item:hover {
  border-bottom: solid #383838 2px;

  cursor: pointer;
  /*transition: 0.1s;*/
  /* ben likes this commented out; will think about it */
}

.navbar-item:not(:hover) {
  transition: 0.3s;
}

.home-button-1 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
}

.home-button-1:hover {
  cursor: pointer;
}
.home-button-2 {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

.home-button-2:hover {
  cursor: pointer;
}

/* STYLING FOR POST INDEX ITEM */
.individual-post {
  font-size: 14px;
  background-color: lightgray;
  margin: 60px auto;
  width: 800px;
  border: 1px solid lightgray;
  /*border-radius: 5px;*/
}

.disable-margin {
  margin: 0px;
}

.post-header {
  display: flex;

  justify-content: center;
  justify-content: space-between;
  padding: 10px;

}

.post-author {
  font-weight: bolder;
}


.index-photo {
  width: 800px;
  height: auto;
}
