/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* CSS Reset */
html, section, article, label, h1, h2, p, strong, em, a, li{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
  cursor: inherit;
}

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #383838;
}

/* STYLING FOR LOG IN/SIGN UP */
.auth-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/dfrrpfeus/image/upload/q_100/v1478209348/background-image_zfxi3z.jpg');
  background-size: cover;
}

.auth-form-container {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.85);
  max-width: 475px;
  margin: auto;
  margin-top: 15%;
  padding: 50px 65px 65px 65px;
  text-align: center;
  border-radius: 5px;
}

.auth-label-1 {
  font-size: 45px;
  font-weight: lighter;
  margin: 0;
}

.auth-label-2 {
  font-size: 45px;
  margin: 0;
  font-weight: bold;
}

.auth-subheader {
  font-size: 16px;
  font-weight: 300;
  margin-top: 2px;
}

.auth-input {
  outline: 0;
  background: #f2f2f2;
  background: white;
  width: 80%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-top: 10px;
}

.auth-button {
  outline: 0;
  width: 80%;
  padding: 10px;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  color: #383838;
  background-color: white;
}

.auth-button:hover {
  cursor: pointer;
  background-color: #3e3e3e;
  transition: 0.3s;
  color: white;
}

.auth-other {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
}

.auth-link {
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

.auth-error {
  font-size: 14px;
  font-weight: 500;

}

.auth-inputs-container {
  margin: 0;
}

/* STYLING FOR HEADER/NAVBAR */
.navbar-item {
  padding: 16px;
  border-bottom: solid white 2px;
}

.navbar-item:hover {
  padding: 16px;
  border-bottom: solid #383838 2px;
  cursor: pointer;
}

.navbar-logo {
  margin-right: auto;
  font-size: 26px;
  padding: 16px 24px;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-links {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-left: 24px;
  padding-right: 48px;
  background-color: white;
  color: #383838;
  border-bottom: solid #383838 2px;
}

.navbar-item:not(:hover) {
  transition: 0.09s;
}

.home-button-1 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 50px;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
}
/*
.home-button-1:hover {
  cursor: pointer;
}*/

.home-button-2 {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

/*.home-button-2:hover {
  cursor: pointer;
}*/

/* STYLING FOR POST INDEX ITEM */
.post-index-container {
  margin-top: 150px;
}
.individual-post {
  margin
  font-size: 14px;
  background-color: white;
  margin: 60px auto;
  width: 800px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.disable-margin {
  margin: 0px;
}

.post-header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  /*margin-top: 20px;*/
}

.post-author {
  flex: left;
  font-weight: bolder;
  padding-right: 5px;
}

.modal {
text-align: center;
margin: 0 auto;
min-width: 500px;
/*max-width: 600px;*/
/*max-height: 450px;*/
border-radius: 5px;
}

.upload-content {
  display: flex;
}

.caption-input {
  outline: solid #ccc 0.1px;
  background: white;
  width: 62%;
  margin-right: 5px;
  height: 25px;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
}
.index-photo {
  width: 800px;
  height: auto;
  margin: 0;
}

.photo-preview {
  width: inherit;
  height: auto;
  margin: auto;
}

.upload-modal {
  padding: 45px;
  margin: auto;
  width: 400px;
}

.modal-button {
  width: 17%;
  margin-right: 5px;
  height: 26px;
  background: white;
  border: solid #ccc 0.1px;
}

.modal-button:hover {
  background: #3e3e3e;
  color: white;
  border: solid #3e3e3e.0.1px;
  transition: 0.3s;
}

.user-info {
  display: flex;
  padding-bottom: 5px;
}

.caption {
  width: 300px;
}

.follow-button {
  flex: right;
  border-radius: 20px;
  outline: 0;
  width: 100%;
  padding: 5px, 30px, 5px, 30px;
  margin-left: 10px;
  border: 1px solid #3e3e3e;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 500;
  color: #383838;
  background-color: white;
}

.following-button {
  flex: right;
  border-radius: 20px;
  outline: 0;
  width: 100%;
  padding: 5px, 35px, 5px, 35px;
  margin-left: 10px;
  border: 1px solid #3e3e3e;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 500;
  color: white;
  background-color: #383838;
}

.follow-button:hover {
  cursor: pointer;
  background-color: #3e3e3e;
  transition: 0.3s;
  color: white;
}

.following-button:hover {
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
  color: #383838;
}

/*.post-header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
}*/
.caption-box {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.like-count {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.comment-section {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid lightgrey;
}

.comment-form {
  display: inline-block;
}

.comment-form input {
  width: 700px;
}

.comment-input {
  outline: 0;
  background: #f2f2f2;
  background: white;
  /*height: 40%;*/
  /*width: 100%;*/
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
}

.comment-submit-button {
  height: 0px;
  width: 0px;
  border: none;
  padding: 0px;
}

.unfilled-like-button {
  margin-right: 10px;
  background-image: url('https://res.cloudinary.com/dfrrpfeus/image/upload/v1478756528/unfilled-heart-icon_tcxcze.png');
  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  box-shadow: none;
  outline: none;

}

.filled-like-button {
  flex: left;
  margin-right: 10px;
  background-image: url('https://res.cloudinary.com/dfrrpfeus/image/upload/v1478756523/filled-heart-icon_umf3hi.png');

  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.comments-container {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}

.comment {
  display: flex;
  justify-content: space-between;
}

.comment-delete-container {
  flex: right;
}

.comment-delete-button {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  margin-bottom: 3px;
  float: right;
}

.comment-delete-button:hover {
  cursor: pointer;
}

.comment-author {
  font-weight: bolder;
  flex: left;
  margin-right: 5px;
}
.comment {
  flex: right;
}

/* * * P R O F I L E   S T Y L I N G * *  */
.profile {
  max-width: 930px;
  margin: auto;
  padding-top: 100px;
}
.header-info-container {
  display: flex;
  margin: auto;
  align-self: center;
  justify-content: center;
  padding: 30px;
  border-bottom: solid #383838 0.5px
}

.header-info {
  flex-direction: column;
  align-self: center;
}

.profile-pic {
  border-radius: 300px;
  width: 200px;
  height: 200px;
}

.profile-username {
  display: block;
  font-size: 25px;
}
.profile-pic {
  margin-right: 30px;
}

.profile-info {
  display: flex;
}

.profile-title {
  flex: left;
  font-weight: 600;
  margin-right: 20px;
  font-size: 18px;
}

.profile-content {
  font-weight: 400;
}
.user-posts {
  /*margin-top: 30px;*/
}
.user-post-index {
  display: flex;
  padding: 0;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-post {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 5px;
  background: black;
}

.user-post-photo {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.user-post-photo:hover {
  opacity: 0.6;
  transition: 0.1s;
  cursor: pointer;
}

.photo-overlay {
  font-size: 14px;
  position: relative;
  top: -300px;
  height: 300px;
  width: 300px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: 600;
  opacity: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  transition: 0.3s
}

.photo-overlay:hover {
  opacity: 0.75;
}

.profile-follow-button {
  flex: right;
  border-radius: 20px;
  outline: 0;
  width: 40%;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #3e3e3e;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #383838;
  background-color: white;
}

.profile-follow-button:hover {
  cursor: pointer;
  background-color: #0aaccc;
  transition: 0.3s;
  color: white;
}


.profile-following-button {
  flex: right;
  border-radius: 20px;;
  outline: 0;
  width: 40%;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #3e3e3e;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #383838;
}

.post-modal {
  text-align: center;
  margin: 0 auto;
  min-width: 500px;
  height: 550px;
  border-radius: 5px;
}

.inner-post-photo {
  /*flex-shrink: 0;*/
  height: 550px;
  display: block;
  margin: auto;
  /*min-height: 100%;*/
}

.clear {
  clear: both;
}

.inner-post-modal {
  display: flex;
  margin: auto;
}

.photo-container {
  border-right: solid #ccc 0.1px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inner-comments-container {
  width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  /*display: flex;*/
}

.inner-comment {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.profile-pic-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

.inner-post-author {
  padding-top: 7.5px;
  flex: left;
  font-weight: bolder;
  padding-right: 5px;
}

.inner-post-author {
  padding-top: 7.5px;
}

.just-wait {
  float: right;
}

.inner-user-info {
  display: flex;
  padding-bottom: 5px;
  padding-left: 10px;
}

.inner-close-modal {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}
.inner-close-modal:hover {
  cursor: pointer;
}

.inner-post-header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  margin-top: 25px;
}

.inner-delete-container {
  /*padding-right: 10px;*/
}
